*/ans
*/*/ans
*/*/*.swp
*/*.swp
*/*.swo
*/.fuse_hidden*
*/*/.ropeproject
graduation/logfile.txt
project-based-learning/photomosaic/images
project-based-learning/photomosaic/image_processing/*.o
project-based-learning/photomosaic/*.o
