*/ans
*/*/ans
*/*/*.swp
*/*.swp
*/*.swo
*/.fuse_hidden*
*/*/.ropeproject
graduation/logfile.txt
project-based-learning/photomosaic/images
project-based-learning/photomosaic/*/*.o
project-based-learning/photomosaic/*.o
project-based-learning/ascii-art/images
project-based-learning/ascii-art/*/*.o
project-based-learning/ascii-art/*.o
project-based-learning/ascii-art/tests/.ropeproject
