*/ans
*/*/ans
*/*.swp
*/*/*.swp
*/*/*/*.swp
*/*.swo
*/.fuse_hidden*
*/*/.ropeproject
graduation/logfile.txt
project-based-learning/photomosaic/images
project-based-learning/ascii-art/images
project-based-learning/*/*/*.o
project-based-learning/*/tests/.ropeproject
project-based-learning/*/*.o
project-based-learning/*/.ycm*
